.App {
  background-image: 
    url('C:\Users\brewe\Bloom-Repos\my-Repos\photo-site\src\Components\photos\CameraBlackBG.jpg'),
    url('C:\Users\brewe\Bloom-Repos\my-Repos\photo-site\src\Components\photos\BettyDark.jpg');
  background-color: black;
  background-size: 50%,45%;
  background-position: left, right;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  background-color: black;
  min-height: 100vh;
  color: white;
  padding: 20px;
}
.App-inner{
  
  /* text-align: left; */
  background-color: black;
  min-height: auto;
  color: white;
  font-size: 75px;
  padding: 20px;
  
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  justify-content: center;
  margin: auto;
  display: block;
}

.App-logo-inner {
  height: 13vmin;
  top:0;
  margin-top: 10px;
  margin-left: 10px;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0s linear;
  }
}

.Header{
  text-align: center;
      
}

.App-header {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 72px;
  color: white;
  
}
.App-header-inner {
  position: fixed;
  width: 100%;
  background-color: black;
  background-size: auto;
  min-height: auto;
  /* display: flex; */
  flex-direction: column;
  font-size: 75px;
  color: white;
  border-bottom: 2px solid red;
  top: 0;
  left: 0;
  z-index: 1;
}

.App-header-inner img {
  position: absolute;
  bottom: -110px;
}

.App-link {
  color: white;
  font-size: 50px;
  padding: 10px;
  margin: 300px auto;
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Home-background{
  background-image: url('https://i.imgur.com/MffX8UV.jpg');
  background-size: 60%;
  /* justify-content: center; */
  background-position: right;
  background-repeat: no-repeat;
  background-origin: content-box;
  /* background-attachment: fixed; */
  size: auto;
  /* margin-top: 90px; */
  /* margin-bottom: 50px; */
  
}

.Prints-background{
  background-image: url('https://i.imgur.com/zjDOaDa.jpg');
  background-size: 60%;
  /* justify-content: center; */
  background-position: right;
  background-repeat: no-repeat;
  background-origin: content-box;
  /* background-attachment: fixed; */
  size: auto;
  /* margin-top: 90px; */
  /* margin-bottom: 50px; */
  
}

.Footer{  
  
  color: red;
  font-size: 20px;
  width: auto;
  padding: 0;
  margin-top: 50px;
  }

  .Footer a {
    color: red;
    padding: 0;
    display: block;
  }

  h2{
    justify-content: center;
  }

  p{
    display: flex;
    font-size: 30px;
    width: 45%;
    text-align: left;
    line-height: 1.65;
  }

  a{
    
    padding: 30px;
    color: white;
    font-size: 20px;
    text-align: center;
    justify-content: center;
  }

  nav {
    text-align: center;
    text-decoration: none;
  }

  .Quote{
    font-size: 32px;
    width: 100%;
    justify-content: center;
    padding: 10px;
    
    
  }

  .Home-article{
    margin-top: 170px;
  }

  .Link-active{
    color: red;
    text-decoration: none;
  }

  .Card-section{
    
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 200px;
    
    /* justify-content: center; */
  }

  .Species-card{
    background-color: rgb(21, 21, 21);
    box-shadow: 0 4px 8px 0 white;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 70px;
    margin-left: 120px;
    border-radius: 5px;
    transition: 0.3s;
    width: 400px;
    text-decoration: none;
  }

  .Species-card img{
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0 ;
  }

  .Species-card h2{
    font-size: 50px;
  }

  .Species-card p{
    width: auto;
    justify-content: center;
  }

  .Species-card:hover {
    opacity: .5;
  }

  body{
    background-color: black;
  }

  .Collection-card{
    background-color: rgb(21, 21, 21);
    box-shadow: 0 4px 8px 0 white;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 70px;
    margin-left: 120px;
    border-radius: 5px;
    transition: 0.3s;
    width: 400px;
    text-decoration: none;
  }

  .Collection-card img{
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0 ;
  }

  .Collection-card h2{
    font-size: 50px;
  }

  .Collection-card p{
    width: auto;
    justify-content: center;
  }