.App {
  background-image: url('CameraBlackBG.jpg'),url('BettyDark.jpg');
  background-color: black;
  background-size: 50%,45%;
  background-position: left, right;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  background-color: black;
  min-height: 100vh;
  color: white;
  padding: 20px;
}
.App-inner{
  
  /* text-align: left; */
  background-color: black;
  min-height: 100vh;
  color: white;
  font-size: 75px;
  padding: 20px;
  
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-logo-inner {
  height: 20vmin;
  pointer-events: none;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0s linear;
  }
}

.Welcome-header{
  text-align: center;
  justify-content: center;
  
}

.App-header {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 72px;
  color: white;
  
}
.App-header-inner {
  position:relative;
  background-color: black;
  background-size: cover;
  min-height: 130px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: left; */
  font-size: 75px;
  text-align: left;
  color: white;
  border-bottom: 2px solid rgb(196, 42, 42);
  
}

.App-header-inner img {
  position: absolute;
  bottom: -110px;
}

.App-link {
  /* text-align: center;
  justify-content: center;
  align-items: center; */
  color: white;
  font-size: 50px;
  padding: 10px;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Body{
  background-image: url('AxMirror.jpg');
  background-size: 60%;
  justify-content: center;
  background-position: right;
  background-repeat: no-repeat;
  background-origin: content-box;
  /* background-attachment: fixed; */
  justify-content: center;
  
}

.Footer{
  background-color:black;
  color: red;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left:0;
  }

  h2{
    justify-content: center;
  }

  p1{
    display: flex;
    font-size: 30px;
    width: 45%;
    text-align: left;
    line-height: 1.65;
  }

  a{
    
    padding: 30px;
    color: white;
    font-size: 20px;
    text-align: center;
    justify-content: center;
  }

  nav{
    text-align: center;
  }

  .Quote{
    font-size: 32px;
    text-align: center;
    padding: 10px;
    
    
  }

